body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root, .App {
    height: 100vh;
}


/* ---------------- chat mafia ------------- */

.chat-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: #19adf8; */
}

.info{
  max-width: 200px;
  max-height: 100%;
}

.chat-header{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	display: flex;
	background-color: var(--chat-header);
	height: 60px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 4px #4b779d;
}



.chat-body{
	position: relative;
	top: 60px;
	height: calc(100% - 120px);
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
	width: 100%;
	justify-self: center;
	align-self: center;
	background-color: var(--chat-background);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

/* ------------------ chat card --------------------- */

.chat-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding: 5px;
	max-width: fit-content;
	height: fit-content;
}

.chat-card .message-body{
	min-height: 10px;
	max-width: 90%;
	padding: 10px;
	width: max-content;
	border-radius: 5px;
	white-space: pre-line;
	overflow-wrap: break-word;
	word-break:keep-all;
	word-wrap: break-word;
	height: max-content;
	box-shadow: 0 0 10px #4b779d;
}

.chat-card .user-icon{
  width: 40px;
  height: 40px;
  /* clip-path: circle(50%); */
background-color: #000000;
  box-shadow: 0 0 10px #4b779d;
  margin-top: auto;
  background-size:     cover;            
  background-repeat:   no-repeat;
  background-position: center center;  
}

.chat-card .chat-media{
  max-width: 90%;
  max-height: 600px;
  padding: 2px;
  height: auto;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #4b779d;
}

.sender{
  justify-content: end;
}

.receiver{
  background-color: var(--chat-receiver);
  margin-left: 10px;
}

.sender{
  background-color: var(--chat-sender);
  margin-right: 10px;
}

.chat-card .username-time{
  color: #858484;
  font-size: 14px;
}


/* ------------- auto resize text box -------------------------- */
.autoresize-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
}

.autoresize{
    border: 0px;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    font-size: 18px;
    border: 2px solid #484747;

}

.autoresize:focus{
    border: 2px solid #19adf8;
}
